<!DOCTYPE html>
<html>
<head>
        <title>Guess A Number!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="../css/global.css" rel="stylesheet" type="text/css">
</head>
	<body>
        <div class="container">
        	<div class="jumbotron text-center">
        		<h2>Welcome to the number guesser! <br>Please enter a number from 1 to 100!</h2>
        		<h3>Your result:</h3>
            	<h3>{{hot_cold}}</h3>
        	</div><!--end of the "jumbotron text-center" class-->
        </div><!--end of the container class-->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</body>
</html>
